<!-- <span class="content">{{title}} app is running!</span> -->
<app-nav></app-nav>
<br>
<br>
<app-adva></app-adva>

<router-outlet></router-outlet>
<br>
<br>
<div class="row">
  <div class="col-md-2"> 

  </div>
  <div class="col-md-8" style="align-items:center;justify-items:center;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </div>  
  <br><br>
  <app-about></app-about>
  <div class="col-md-8">
    <!-- <app-product></app-product> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
  <div class="col-md-2">..
    <!-- <router-outlet name="jag"></router-outlet> -->
    
  </div>
</div>